PORT=4000
NODE_ENV=development
# Neon, Clerk , Sentry, Stream- shudarsanpoudel
DATABASE_URL=postgresql://neondb_owner
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
SENTRY_DSN=
STREAM_API_SECRET=
STREAM_API_KEY=
# ImageKit - yojandev
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/
